*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.name{
    border-radius: 5px; border-style: solids;
}
.date{
    border-radius: 5px; border-style: solid;
}