*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
.name{
    border-radius: 5px; border-style: solids;
}
.date{
    border-radius: 5px; border-style: solid;
}
.button{
    border-radius: 5px;
    background-color: rgb(16, 16, 226);
}